$color1: #edf4fd;
$color2: #4d648d;
$color3: #283655;
$color4: #1e1f26;

* {
  box-sizing: border-box;
}

body {
  background-color: $color1;
  color: $color3;
  padding-top: 12vh;
}

.affix {
  top: 0;
  width: 100%;
}

#main {
  z-index: 1;
  color: $color1;
  background-color: $color3;
  border-bottom: 1px solid $color3;
  box-shadow: 0px 1px 10px #0E1D25;
}

#searchResults {
  z-index: 0;
  overflow: hidden;
}

a {
  color: $color1;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: $color1;
  text-decoration: none;
}

input[type='text'] {
  font-size: 1.5em;
}

.input-group {
  margin-bottom: 15px;
}

.result {
  background-color: $color3;
  margin-top: 20px;
  box-shadow: 0px 5px 10px -2px #0E1D25;
}

.result:hover {
  background-color: $color2;
}

.glyphicon {
  color: $color2;
  font-size: 1.45em;
}

.glyphicon-random {
  left: -1px;
}