* {
  box-sizing: border-box; }

body {
  background-color: #edf4fd;
  color: #283655;
  padding-top: 12vh; }

.affix {
  top: 0;
  width: 100%; }

#main {
  z-index: 1;
  color: #edf4fd;
  background-color: #283655;
  border-bottom: 1px solid #283655;
  box-shadow: 0px 1px 10px #0E1D25; }

#searchResults {
  z-index: 0;
  overflow: hidden; }

a {
  color: #edf4fd;
  text-decoration: none; }

a:hover, a:focus, a:active {
  color: #edf4fd;
  text-decoration: none; }

input[type='text'] {
  font-size: 1.5em; }

.input-group {
  margin-bottom: 15px; }

.result {
  background-color: #283655;
  margin-top: 20px;
  box-shadow: 0px 5px 10px -2px #0E1D25; }

.result:hover {
  background-color: #4d648d; }

.glyphicon {
  color: #4d648d;
  font-size: 1.45em; }

.glyphicon-random {
  left: -1px; }
