* {
  box-sizing: border-box; }

body {
  background-color: #1e434c;
  color: #f1f1f2; }

#main {
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f1f2;
  box-shadow: 0px 2px 1px 1px #0E1D25; }

.glyphicon {
  color: #1e434c;
  font-size: 1.45em; }

.glyphicon-random {
  left: -1px; }
